<div class="container">
  <h2 class="page-title">お問い合わせ</h2>

    <%= form_with model: @contact, local: true do |f| %>
      <%= render 'layouts/errors', obj: @contact %>

      <div class="row mt-5">
        <div class="col-md-3 text-md-right">
          <%= f.label :name, "お名前" %>
        </div>
        <div class="col-md-6">
          <%= f.text_field :name, autofocus: true, :placeholder => "例）令和太郎", class: "form-control" %>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3 text-md-right">
          <%= f.label :email, "メールアドレス", class: "my-3" %>
        </div>
        <div class="col-md-6">
          <%= f.text_field :email, :placeholder => "例）sample@gmail.com", class: "form-control my-3" %>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3 text-md-right">
          <%= f.label :message, "お問い合わせ内容" %>
        </div>
        <div class="col-md-6">
          <%= f.text_area :message, :placeholder => "例）○○機能が欲しい等", size: "50x10", class: "form-control" %>
        </div>
      </div>

      <div class="row">
        <div class="mx-auto mt-3">
          <%= f.submit "送信する", class: "btn btn-orange px-4" %>
        </div>
      </div>
    <% end %>

</div>