<div class="container">
    <h2>所属グループ一覧</h2>
  <div class="row">
    <div class="mx-auto">

    <%= link_to "グループを新規作成する", new_group_path, class: "btn btn-success" %>

      <table class="table">
        <thead>
          <th>作成日</th>
          <th>グループ名</th>
          <th>参加人数</th>
          <th></th>
        </thead>
        <tbody>
          <% @groups.each do |group| %>
          <tr>
            <td><%= group.created_at.strftime('%Y/%m/%d') %></td>
            <td><%= group.name %></td>
            <td><%= group.users.count %></td>
            <td><%= link_to "交換日記へ", group_diaries_path(group), class: "btn btn-primary" %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>