<p id="alert"><%= alert %></p>

<div class="container">
  <h2 class="page-title">ログイン</h2>

    <%= form_with model: @user, url: user_session_path, id: 'new_user', class: 'new_user', local: true do |f| %>

      <div class="row mt-5">
        <div class="col-md-5 text-md-right"><%= f.label :email, "メールアドレス", class: "mb-md-3" %></div>
        <div class="col-md-7"><%= f.email_field :email, autofocus: true, autocomplete: "email", size: 30, class: "mb-3 p-1" %></div>
      </div>

      <div class="row">
        <div class="col-md-5 text-md-right"><%= f.label :password, "パスワード" %></div>
        <div class="col-md-7"><%= f.password_field :password, autocomplete: "current-password", size: 30, class: "p-1" %></div>
      </div>

      <div class="row">
        <div class="mx-auto mt-3">
          <%= f.submit "ログイン", class: "btn btn-orange px-5" %>
        </div>
      </div>
    <% end %>

    <div class="row">
      <p class="col-md-6 offset-md-3 mt-5">
        新規登録がお済みでない方<br>
        <%= link_to "こちら", new_user_registration_path %>　から新規登録を行ってください。
      </p>
    </div>

</div>
