<p id="alert"><%= alert %></p>

<div class="container">
  <h2 class="page-title">検索結果</h2>

    <div class="row">
      <div class="col-md-5 mx-auto my-5">
        <%= form_with url: search_path, method: :get, local: true do |f| %>
          グループ名 <%= f.text_field :name, class: "p-1" %>
          <%= f.submit "検索", class: "p-1" %>
        <% end %>
      </div>
    </div>

    <div class="row">
      <p class="col-md-2">検索ワード'<%= @value %>'</p>
    </div>

    <div class="row">
      <div class="col-md-12">
        <table class="table table-bordered bg-light my-3">
          <thead class="table-head">
            <th>作成日</th>
            <th>グループ名</th>
            <th>参加人数</th>
            <th></th>
          </thead>
          <tbody>
            <% @groups.each do |group| %>
              <tr>
                <td><%= group.created_at.strftime('%Y/%m/%d') %></td>
                <td><%= group.name %></td>
                <td><%= group.users.size %></td>
                <td><%= link_to "詳細へ", group_path(group), class: "btn btn-orange" %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>

    <div class="row">
      <div class="mx-auto">
        <%= paginate @groups %>
      </div>
    </div>

</div>