<p id="alert"><%= alert %></p>

<div class="container">
  <div class="top-visual">
    <div class="main-visual">
      <h2 class="top-title">ほっとダイアリーへようこそ。</h2>
    </div>
  </div>
</div>

<% if admin_signed_in? %>
  <div class="container">
    <div class="d-flex">
      <h2 class="mt-5">お知らせ</h2>
      <%= link_to "新規作成", new_admin_news_path, class: "btn btn-success mt-5 mb-3 ml-4" %>
    </div>

    <div class="row">
      <div class="col-5">
        <table class="table table-bordered">
          <tbody>
            <% @news.each do |news| %>
              <tr>
                <td class="table-light border-dark">
                  <%= news.created_at.strftime('%Y/%m/%d') + "　" %>
                  <%= link_to safe_join(news.body.split("\n"),tag(:br)), edit_admin_news_path(news) %>
                </td>
              </tr>
            <% end %>
          </tbody>
          <%= paginate @news %>
        </table>
      </div>
    </div>
  </div>

<% else %>
  <div class="container">
    <div class="row">
      <div class="col-5">
      <h2 class="mt-5">お知らせ</h2>
        <table class="table table-bordered">
          <tbody>
            <% @news.each do |news| %>
              <tr>
                <td class="table-light border-dark">
                  <%= news.created_at.strftime('%Y/%m/%d') + "　" %>
                  <%= safe_join(news.body.split("\n"),tag(:br)) %>
                </td>
              </tr>
            <% end %>
          </tbody>
          <%= paginate @news %>
        </table>
      </div>

      <div class="mt-5 mx-auto">
        <h4>
          新規登録済の方はこちら
          <%= link_to "ログインする", new_user_session_path, class: "btn btn-orange my-2 px-5" %>
        </h4>
        <h4>
          未登録の方はこちら
          <%= link_to "新規登録する", new_user_registration_path, class: "btn btn-orange my-2 ml-5 px-5" %>
        </h4>
      </div>
    </div>
  </div>
<% end %>
