<p id="alert"><%= alert %></p>

<div class="container">
  <h2>検索結果</h2>
  <div class="row">

    <div class="mt-5 mb-3">
      <%= form_with url: admin_search_path, method: :get, local: true do |f| %>
        <%= f.select 'search[model]', options_for_select({ "ユーザ(あだ名)" => "user", "グループ名" => "group", "日記タイトル" => "diary" }) %>
        <%= f.select 'search[how]', options_for_select({ "完全一致" => "match", "部分一致" => "partical"  }) %>
        <%= f.text_field 'search[value]' %>
        <%= f.submit "検索", class: "btn btn-sm btn-success" %>
      <% end %>
    </div>

    検索ワード'<%= @value %>'
    <% if @model == "user" %>
      <table class="table bg-light">
        <thead class="table-head">
          <th>作成日</th>
          <th>ユーザー名</th>
          <th>ニックネーム</th>
          <th>ステータス</th>
        </thead>
        <tbody>
          <% @datas.each do |data| %>
          <tr>
            <td><%= data.created_at.strftime('%Y/%m/%d') %></td>
            <td><%= link_to data.full_name, admin_user_path(data) %></td>
            <td><%= data.nickname %></td>
            <td>
              <% if data.is_deleted == true %>
                <div class="text-muted"><%= "退会" %></div>
              <% else %>
                <div class="text-success"><%= "有効" %></div>
              <% end %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>

    <% elsif @model == "group" %>
      <table class="table bg-light">
        <thead class="table-head">
          <th>作成日</th>
          <th>グループ名</th>
          <th>参加人数</th>
          <th>グループ作成者</th>
          <th></th>
        </thead>
        <tbody>
          <% @datas.each do |data| %>
          <tr>
            <td><%= data.created_at.strftime('%Y/%m/%d') %></td>
            <td><%= data.name %></td>
            <td><%= data.users.count %></td>
            <td><%= data.owner.nickname %></td>
            <td><%= link_to "詳細へ", admin_group_path(data), class: "btn btn-primary" %></td>
          </tr>
          <% end %>
        </tbody>
      </table>

    <% else %>
      <table class="table bg-light">
        <thead class="table-head">
          <th>投稿日</th>
          <th>タイトル</th>
          <th>投稿者</th>
          <th>コメント数</th>
          <th></th>
        </thead>
        <tbody>
          <% @datas.each do |data| %>
            <% @group = data.group.id %>
            <tr>
              <td><%= data.created_at.strftime('%Y/%m/%d') %></td>
              <td><%= data.title %></td>
              <td><%= data.user.nickname %></td>
              <td><%= data.diary_comments.count %></td>
              <td><%= link_to "閲覧する", admin_group_diary_path(@group, data.id), class: "btn btn-primary" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>

  </div>
  <%= paginate @datas %>
</div>