<p id="alert"><%= alert %></p>

<div class="container">
  <h2>管理者ログイン</h2>

    <%= form_with model: @admin, url: admin_session_path, local: true do |f| %>

      <div class="row mt-5">
        <div class="col-md-5 text-md-right"><%= f.label :email, "メールアドレス", class: "mb-md-3" %></div>
        <div class="col-md-4"><%= f.email_field :email, autofocus: true, autocomplete: "email", class: "mb-3 form-control" %></div>
      </div>

      <div class="row">
        <div class="col-md-5 text-md-right"><%= f.label :password, "パスワード" %></div>
        <div class="col-md-4"><%= f.password_field :password, autocomplete: "current-password", class: "form-control" %></div>
      </div>

      <div class="row">
        <div class="mx-auto mt-3">
          <%= f.submit "ログイン", class: "btn btn-primary px-5" %>
        </div>
      </div>
    <% end %>

</div>
