<p id="alert"><%= alert %></p>

<div class="container">
  <h2>管理者ログイン</h2>
  <div class="row">
    <div class="mx-auto mt-5">

      <%= form_with model: @admin, url: admin_session_path, local: true do |f| %>
        <table>
          <tbody>
            <tr>
              <td><%= f.label :email, "メールアドレス", class: "mr-2" %></td>
              <td><%= f.email_field :email, autofocus: true, autocomplete: "email", size: 30 %></td>
            </tr>
            <tr>
              <td><%= f.label :password, "パスワード", class: "mr-2" %></td>
              <td><%= f.password_field :password, autocomplete: "current-password", size: 30 %></td>
            </tr>
          </tbody>
        </table>

        <div class="offset-5 mt-3">
          <%= f.submit "ログイン", class: "btn btn-primary" %>
        </div>
      <% end %>

    </div>
  </div>
</div>
