<div class="container">
  <h2>日記一覧</h2>
  <p>グループ名：<%= @group.name %></p>

    <div class="row mt-5">
      <div class="col-md-12">
        <table class="table table-bordered bg-light">
          <thead class="table-head">
            <th>投稿日</th>
            <th>タイトル</th>
            <th>投稿者名</th>
            <th>コメント数</th>
            <th></th>
          </thead>
          <tbody>
            <% @diaries.each do |diary| %>
              <tr>
                <td><%= diary.created_at.strftime('%Y/%m/%d') %></td>
                <td><%= diary.title %></td>
                  <% if diary.user.is_deleted %>
                    <td><%= link_to diary.user.nickname + "(退会済)", admin_user_path(diary.user_id) %></td>
                  <% else %>
                    <td><%= link_to diary.user.nickname, admin_user_path(diary.user_id) %></td>
                  <% end %>
                <td><%= diary.diary_comments.count %></td>
                <td class="text-center align-middle"><%= link_to "閲覧する", admin_group_diary_path(@group.id, diary.id), class: "btn btn-primary" %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>

    <div class="row">
      <div class="mx-auto">
        <%= paginate @diaries %>
      </div>
    </div>

    <div class="row mt-5">
      <div class="col-md-12">
        <h3>参加メンバー</h3>
        <table class="table table-bordered bg-light">
          <tbody>
            <% @members.each do |member| %>
              <tr>
                <% if member.user.is_deleted %>
                  <td><%= member.user.nickname + "(退会済)" %></td>
                <% else %>
                  <td><%= member.user.nickname %></td>
                <% end %>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>

</div>