<div class="container">
    <h2>日記編集</h2>
  <div class="row">

    <%= form_with model: @diary, url: group_diary_path, local: true do |f| %>
      <table>
        <tr>
          <td>タイトル</td>
          <td><%= f.text_field :title %></td>
        </tr>
        <tr>
          <td>画像</td>
          <td><%= f.attachment_field :image %></td>
        </tr>
        <tr>
          <td>内容</td>
          <td><%= f.text_field :body %></td>
        </tr>
        <tr>
          <td>
            <%= f.radio_button :status, :false %>公開
            <%= f.radio_button :status, :true %>非公開
          </td>
        </tr>
      </table>
        <p class="small">
          ※非公開にするとグループ作成者のみ閲覧可能になり、<br>
  　      グループ参加者は閲覧不可となります。
  　     </p>
  　   <%= f.submit "変更内容を保存する", class: "btn btn-success" %>
  　   <%= link_to "戻る", :back, class: "btn btn-secondary" %>
    <% end %>

  </div>
</div>
