<div class="container">
  <h2 class="page-title">日記編集</h2>
  <div class="row">
    <div class="mx-auto mt-5">

      <%= form_with(model: [@group, @diary], url: group_diary_path({group_id: @group.id, diary_id: @diary.id}), local: true) do |f| %>
      <%= render 'layouts/errors', obj: @diary %>
        <table>
          <tr>
            <td>タイトル</td>
            <td><%= f.text_field :title, class: "ml-2" %></td>
          </tr>
          <tr>
            <td>画像</td>
            <td><%= f.attachment_field :image, class: "ml-2 my-2 p-1" %></td>
          </tr>
          <tr>
            <td>内容</td>
            <td><%= f.text_area :body, class: "ml-2 mb-2 p-1", size: "80x20" %></td>
          </tr>

        </table>

        <div class="offset-1">
          <%= f.radio_button :status, :false %>公開
          <%= f.radio_button :status, :true, class: "ml-3" %>非公開
          <p class="small">
            ※非公開にするとグループ作成者のみ閲覧可能になり、<br>
    　      グループ参加者は閲覧不可となります。
    　     </p>
    　   </div>

    　   <%= f.submit "変更内容を保存する", class: "btn btn-orange offset-4 px-5" %>
    　   <%= link_to "戻る", :back, class: "btn btn-secondary" %>
      <% end %>

    </div>
  </div>
</div>
