<div class="container">
  <h2 class="page-title">日記編集</h2>

  <%= form_with(model: [@group, @diary], url: group_diary_path({group_id: @group.id, diary_id: @diary.id}), local: true) do |f| %>
    <%= render 'layouts/errors', obj: @diary %>

    <div class="row mt-5">
      <div class="col-md-4 text-md-right mt-2">タイトル</div>
      <div class="col-md-8"><%= f.text_field :title, class: "ml-2 mt-2 p-1" %></div>
    </div>

    <div class="row">
      <div class="col-md-4 text-md-right mt-2">画像</div>
      <div class="col-md-8"><%= f.attachment_field :image, class: "ml-2 my-2 p-1" %></div>
    </div>

    <div class="row">
      <div class="col-md-4 text-md-right">内容</div>
      <div class="col-md-8"><%= f.text_area :body, class: "form-control ml-md-2 my-2", size: "50x20" %></div>
    </div>

    <div class="row">
      <div class="offset-md-4">
        <%= f.radio_button :status, :false, class: "ml-md-4" %>公開
        <%= f.radio_button :status, :true, class: "ml-3" %>非公開
        <p class="small ml-md-4">
          ※非公開にするとグループ作成者のみ閲覧可能になり、<br>
          グループ参加者は閲覧不可となります。
        </p>
      </div>
  　</div>

    <div class="row">
      <div class="mx-auto">
        <%= f.submit "変更内容を保存する", class: "btn btn-orange px-5" %>
        <%= link_to "戻る", :back, class: "btn btn-secondary ml-3" %>
      </div>
    </div>
  <% end %>

</div>
