<div class="container">
  <h2 class="page-title">日記一覧</h2>

  <% if @group_owner.is_deleted == false %>

    <% if @group.users.include?(current_user) %>

      <div class="row mt-5">
        <p class="ml-3">
          <%= link_to "新規投稿する", new_group_diary_path, class: "btn btn-blue mr-3" %>
          グループ名：<%= @group.name %>
        </p>
      </div>

      <div class="row">
        <div class="col-md-12">
          <table class="table table-bordered bg-light">
            <thead class="table-head">
              <th>投稿日</th>
              <th>タイトル</th>
              <th>投稿者名</th>
              <th>コメント数</th>
              <th></th>
            </thead>
            <tbody>
              <% @diaries.each do |diary| %>
                <tr>
                  <td><%= diary.created_at.strftime('%Y/%m/%d') %></td>
                  <td><%= diary.title %></td>
                  <td><%= diary.user.nickname %></td>
                  <td><%= diary.diary_comments.count %></td>
                  <td class="align-middle text-center"><%= link_to "閲覧する", group_diary_path(@group.id, diary.id), class: "btn btn-orange" %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
          <p><%= paginate @diaries %></p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <h3 class="mt-5">参加メンバー</h3>
          <table class="table table-bordered bg-light">
            <tbody>
              <% @members.each do |member| %>
                <tr>
                  <td><%= member.user.nickname %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>

      <div class="row mt-4">
        <div class="col-md-12">
          <!--カレンダー表示-->
          <%= month_calendar(attribute: :created_at, events: @diaries) do |date, diaries| %>
            <%= date.day %>

            <% diaries.each do |diary| %>
              <div>
                <%= link_to diary.title, group_diary_path(@group.id, diary.id) %>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>

    <% else %>
      <div class="row">
        <div class="mx-auto mt-5">
          <p>グループに参加してください。</p>
            <div class="text-right">
            <%= link_to "戻る", :back, class: "btn btn-secondary px-3" %>
            </div>
        </div>
      </div>
    <% end %>

  <% else %>
    <div class="row">
      <div class="mx-auto mt-5">
        <p class="text-danger">グループ作成者が退会済みのため、利用できません。</p>
      </div>
    </div>
  <% end %>

</div>