<div class="container">
    <h1>日記一覧</h1>
  <div class="row">

    <p>ここに検索フォーム</p>

    <h3>全日記一覧</h3>
    <table class="table">
      <thead>
        <th>投稿日</th>
        <th>タイトル</th>
        <th>投稿者</th>
        <th>コメント数</th>
        <th></th>
      </thead>
      <tbody>
        <% @diaries.each do |diary| %>
          <% @group = diary.group.id %>
          <tr>
            <td><%= diary.created_at.strftime('%Y/%m/%d') %></td>
            <td><%= diary.title %></td>
            <td><%= diary.user.nickname %></td>
            <td><%= diary.diary_comments.count %></td>
            <td><%= link_to "閲覧する", admin_group_diary_path(@group, diary.id), class: "btn btn-primary" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <%= paginate @diaries %>
  </div>
</div>