<div class="container">
    <h1>グループ一覧</h1>
  <div class="row">

    <p>ここに検索フォーム</p>

    <h3>全グループ一覧</h3>
    <table class="table">
      <thead>
        <th>作成日</th>
        <th>グループ名</th>
        <th>参加人数</th>
        <th>グループ作成者</th>
        <th></th>
      </thead>
      <tbody>
        <% @groups.each do |group| %>
          <tr>
            <td><%= group.created_at.strftime('%Y/%m/%d') %></td>
            <td><%= group.name %></td>
            <td><%= group.users.count %></td>
            <td><%= group.owner.nickname %></td>
            <td><%= link_to "詳細へ", admin_group_path(group), class: "btn btn-primary" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <%= paginate @groups %>
  </div>
</div>
