<div class="container">
  <h1>グループ詳細</h1>
  <div class="row">
    <div class="mx-auto d-flex">
      <%= attachment_image_tag @group, :image, size: "250x200", fallback: "no_image.jpg" %>

      <table>
        <tr>
          <td>作成日</td>
          <td><%= @group.created_at.strftime('%Y/%m/%d') %></td>
        </tr>
        <tr>
          <td>グループ名</td>
          <td><%= @group.name %></td>
        </tr>
        <tr>
          <td>参加人数</td>
          <td><%= @group.users.count %></td>
        </tr>
        <tr>
          <td>グループ作成者</td>
          <td><%= @group.owner.nickname %></td>
        </tr>
      </table>

    </div>
  </div>
    <%= link_to "削除する", admin_group_path(@group), method: :delete, class: 'btn btn-danger', "data-confirm" => "本当に消しますか？" %><br>
    <%= link_to "交換日記へ", admin_group_diaries_path(@group), class: "btn btn-primary" %>
</div>