<div class="container">
  <h2>ユーザ詳細</h2>

    <%= form_with model: @user, url: admin_user_path, local: true do |f| %>
      <%= render 'layouts/errors', obj: @user %>

      <div class="row mt-5">
        <div class="col-md-4 text-md-right">
          <%= f.label "お名前" %>
        </div>
        <div class="col-md-3">
          <%= f.label :last_name, "(姓)" %>
          <%= f.text_field :last_name, class: "mb-3 ml-md-3 form-control" %>
        </div>
        <div class="col-md-3">
          <%= f.label :first_name, "(名)" %>
          <%= f.text_field :first_name, class: "mb-3 ml-md-3 form-control" %>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4 text-md-right">
          <%= f.label "フリガナ" %>
        </div>
        <div class="col-md-3">
          <%= f.label :last_name_kana, "(セイ)" %>
          <%= f.text_field :last_name_kana, class: "mb-3 ml-md-3 form-control" %>
        </div>
        <div class="col-md-3">
          <%= f.label :first_name_kana, "(メイ)" %>
          <%= f.text_field :first_name_kana, class: "mb-3 ml-md-3 form-control" %>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4 text-md-right">
          <%= f.label :nickname, "ニックネーム（あだ名）" %>
        </div>
        <div class="col-md-4">
          <%= f.text_field :nickname, class: "mb-3 ml-md-3 form-control" %>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4 text-md-right">
          <%= f.label :email, "メールアドレス" %>
        </div>
        <div class="col-md-4">
          <%= f.email_field :email, class: "mb-3 ml-md-3 form-control" %>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4 mx-auto mt-2">
          <%= f.radio_button :is_deleted, :false, class: "ml-3" %> 有効
          <%= f.radio_button :is_deleted, :true, class: "ml-3" %> 退会
        </div>
      </div>

      <div class="row">
        <div class="col-md-3 mx-auto mt-4">
          <%= f.submit "変更内容を保存する", class: "btn btn-success" %>
          <%= link_to "戻る", :back, class: "btn btn-secondary ml-3" %>
        </div>
      </div>
    <% end %>

</div>