<div class="container">
  <h2>ユーザ一覧</h2>
  <div class="row">
    <table class="table">
      <thead>
        <th>作成日</th>
        <th>名前</th>
        <th>ニックネーム</th>
        <th>ステータス</th>
      </thead>
      <% @users.each do |user| %>
        <tr>
          <td>
            <%= user.created_at.strftime('%Y/%m/%d') %>
          </td>
          <td>
            <%= link_to user.full_name, admin_user_path(user) %>
          </td>
          <td>
            <%= user.nickname %>
          </td>
          <td>
            <% if user.is_deleted == true %>
              <div class="text-muted"><strong><%= "退会" %></strong></div>
            <% else %>
              <div class="text-success"><strong><%= "有効" %></strong></div>
            <% end %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
  <%= paginate @users %>
</div>