<div class="container">
  <h2 class="page-title">所属グループ一覧</h2>

    <div class="row ml-1 ml-md-0">
      <%= link_to "グループを新規作成する", new_group_path, class: "btn btn-blue mt-5 mb-3" %>
    </div>

    <div class="row">
      <div class="col-md-12">
        <table class="table table-bordered bg-light">
          <thead class="table-head">
            <th>作成日</th>
            <th>グループ名</th>
            <th>参加人数</th>
            <th>参加メンバー</th>
            <th></th>
          </thead>
          <tbody>
            <% @groups.each do |group| %>
              <tr>
                <td><%= group.created_at.strftime('%Y/%m/%d') %></td>
                <td><%= link_to group.name, group_path(group) %></td>
                <td><%= group.users.size %></td>
                <td>
                  <% group.users.each do |user| %>
                    <div class="mt-1 mt-md-0">
                      <%= user.nickname %><br>
                    </div>
                  <% end %>
                </td>
                <td class="text-center align-middle"><%= link_to "交換日記へ", group_diaries_path(group), class: "btn btn-orange" %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>

</div>