<!DOCTYPE html>
<html>

  <head>
    <title>HottoDiary</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css2?family=Kiwi+Maru:wght@300&display=swap" rel="stylesheet">
  </head>

  <body>
    <%= render 'layouts/header' %>

    <main>
      <p id="notice"><%= notice %></p>
      <%= yield %>
    </main>

    <footer class="bg-light">
      <div class='container'>
          <p class="text-center">©2021 HottoDiary</p>
      </div>
    </footer>
  </body>

</html>
