<!DOCTYPE html>
<html>

  <head>
    <title>HottoDiary</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= render 'layouts/header' %>

    <main>
      <p id="notice"><%= notice %></p>
      <%= yield %>
    </main>

    <fotter>
      <div class="container">
        <div class="row">
          <div class="mx-auto">
            ©2021 MN
          </div>
        </div>
      </div>
    </fotter>
  </body>

</html>
