<!DOCTYPE html>
<html>

  <head>
    <title>HottoDiary</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css2?family=Kiwi+Maru:wght@300&display=swap" rel="stylesheet">
  </head>

  <body>
    <div>
      <%= render 'layouts/header' %>
    </div>

      <main>
          <p id="notice"><%= notice %></p>
          <%= yield %>
      </main>

    </div>
    <footer class="fixed-bottom bg-light">
      <div class='container'>
          <p class="text-center">©2021 HottoDiary</p>
      </div>
    </footer>
  </body>

</html>
