<div class="container">
  <h2 class="page-title">新規登録</h2>
  <div class="row">
    <div class="mx-auto mt-5">

      <%= form_with model: @user, url: user_registration_path, id: 'new_user', class: 'new_user', local: true do |f| %>
        <%= render "users/shared/error_messages", resource: resource %>
        <table>
          <tbody>
            <tr>
              <td>
                <%= f.label "お名前" %>
                <%= f.label :last_name, "(姓)" %>
              </td>
              <td><%= f.text_field :last_name, autofocus: true, :placeholder => "例）令和", size: 30 %></td>
              <td><%= f.label :first_name, "(名)", class: "mx-2" %></td>
              <td><%= f.text_field :first_name, autofocus: true, :placeholder => "例）太郎", size: 30 %></td>
            </tr>
            <tr>
              <td>
                <%= f.label "フリガナ" %>
                <%= f.label :last_name_kana, "(セイ)", size: 30 %>
              </td>
              <td><%= f.text_field :last_name_kana, autofocus: true, :placeholder => "例）レイワ", size: 30 %></td>
              <td><%= f.label :first_name_kana, "(メイ)", class: "mx-2" %></td>
              <td><%= f.text_field :first_name_kana, autofocus: true, :placeholder => "例）タロウ", size: 30 %></td>
            </tr>
            <tr>
              <td> <%= f.label :nickname, "ニックネーム（あだ名）" %></td>
              <td><%= f.text_field :nickname, autofocus: true, :placeholder => "例）タロー", size: 30 %></td>
            </tr>
            <tr>
              <td><%= f.label :email, "メールアドレス" %></td>
              <td><%= f.email_field :email, autofocus: true, autocomplete: "email", :placeholder => "例）sample@gmail.com", size: 30 %></td>
            </tr>
            <tr>
              <td><%= f.label :password, "パスワード（6文字以上）" %></td>
              <td><%= f.password_field :password, autocomplete: "new-password", size: 30 %></td>
            </tr>
            <tr>
              <td><%= f.label :password_confirmation, "パスワード（確認用）" %></td>
              <td><%= f.password_field :password_confirmation, autocomplete: "new-password", size: 30 %></td>
            </tr>
          </tbody>
        </table>

        <div class="offset-4 mt-3">
          <%= f.submit "新規登録", class: "btn btn-orange px-5" %>
        </div>
      <% end %>

      <p class="mt-5">
        既に登録済みの方<br>
        <%= link_to "こちら", user_session_path %> からログインしてください。
      </p>

    </div>
  </div>
</div>
